<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/style.css" rel="stylesheet">
    <%- include("../../partials/_fonts.ejs") -%>
    <title>Math Drills | ImpendingMoon</title>
</head>
<body>
<div id="page">
    <%- include("../../partials/_header.ejs", {currentPage: "toys"}) -%>

    <main>
        <div class="box">
        </div>
    </main>

    <%- include("../../partials/_aside.ejs") -%>
    <%- include("../../partials/_footer.ejs") -%>
</div>


</body>
</html>