<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<%- include("../partials/_stylesheets.ejs") -%>
	<title>About | ImpendingMoon</title>
</head>

<body>
	<div id="page">
		<%- include("../partials/_header.ejs", {currentPage: "about"}) -%>

		<main>
			<div class="box">
				<section>
					<h1>About</h1>
					<p>
						Hi hello! I'm the ImpendingMoon, also known as just some guy.
						<br><br>
						I'm a software developer with a degree in Computer Information Systems. I mostly work in C# and
						C++, with some projects in Assembly, C, and Web stuff. I'm not that good at programming, but like
						to think I'm solidly okay.
						<br><br>
						Outside of work I love games, music, and tinkering with things. I especially like vintage computers,
						hence why I spend so much money on them. I tend to start more things than I
						finish, so most projects are in some hybrid of kind of working on it/taking a break/I feel bad about
						not working on it for so long so I'm not going to start until I get another bout of motivation.
						<br><br>
						There are so many wasps outside my window right now and they don't even have a nest out there,
						they're just kinda hanging around and I don't appreciate it.
						<br><br>
						I'm not on most social media, but I can be found on
						<a href="https://bsky.app/profile/impendingmoon.bsky.social" target="_blank">Bluesky</a>.
						<br><br>
						This website is written in vanilla HTML, CSS, and JS. with just a <em>little</em> bit of
						preprocessing using EJS. Remember to feed your pet.
					</p>
				</section>

				<section>
					<h2>Usage</h2>
					<p>
						You acknowledge that you are not Elon Musk, you are in no way affiliated to Elon Musk, you are
						not viewing this website on behalf of Elon Musk or an associate of Elon Musk. To the best of your
						knowledge, information and belief this website will not make its way into the hands of Elon Musk.
						<br><br>
						Anyways, the source code can be found at
						<a href="https://github.com/ImpendingMoon/impendingmoon-website">GitHub</a>.
						Have fun, or something.
					</p>
				</section>
			</div>
		</main>

		<%- include("../partials/_aside.ejs") -%>
		<%- include("../partials/_footer.ejs") -%>
	</div>
</body>

</html>
