<aside>
    <section class="box">
        <h2>Links</h2>
        <ul>
            <li><a href="https://www.youtube.com/@ImpendingMoon" target="_blank">YouTube</a></li>
            <li><a href="https://twitch.tv/impendingfish" target="_blank">Twitch</a></li>
            <li><a href="https://discord.com/invite/N5Rpjek4Bf" target="_blank">Discord</a></li>
            <li><a href="https://bsky.app/profile/impendingmoon.bsky.social" target="_blank">BlueSky</a></li>
            <li><a href="https://github.com/ImpendingMoon" target="_blank">GitHub</a></li>
        </ul>
    </section>

    <section class="box">
        <h2>Cool Websites</h2>
        <p>This is where I would put my cool websites... If I had any!</p>
    </section>

    <section class="box">
        <h2>Stamps</h2>
        <p>This is where I would put my stamps... If I had any!</p>
    </section>

</aside>