<h2 id="petName">Rocky</h2>
<img id="petImage" src="/images/rocky.png" alt="A pet rock">

<div id="petStatusContainer">
    <label for="petHappiness"><strong>Happiness: </strong></label>
    <meter id="petHappiness" class="pet-meter" min="0" max="100" value="100">100</meter>

    <label for="petFood"><strong>Food: </strong></label>
    <meter id="petFood" class="pet-meter" min="0" max="100" value="100">100</meter>

    <label for="petEnergy"><strong>Energy: </strong></label>
    <meter id="petEnergy" class="pet-meter" min="0" max="100" value="0">0</meter>
</div>

<div id="petControlsContainer">
    <button id="petFeedButton" class="pet-button" disabled>Feed</button>
    <button id="petPlayButton" class="pet-button" disabled>Play</button>
    <button id="petSpeakButton" class="pet-button" disabled>Speak</button>
</div>

<p id="petTextBox">Rocky is unreasonably happy</p>
