.pet-name {
	text-align: center;
	margin-bottom: var(--spacing);
}

.pet-image {
	display: block;
	width: 90%;
	max-width: 512px;
	border: 4px solid transparent;
	border-image: var(--border-image);
	margin: auto auto var(--spacing);
}

.pet-status-container {
	display: grid;
	gap: 0 var(--spacing);
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto auto;
	margin-bottom: var(--spacing);
}

.pet-meter {
	width: 100%;
}

.pet-controls-container {
	display: flex;
	justify-content: space-around;
	gap: var(--spacing);
	margin-bottom: var(--spacing);
}

.pet-button {
	width: 100%;
	text-align: center;
}
