<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="/style.css" rel="stylesheet">
    <%- include("partials/_fonts.ejs") -%>
    <title>Home | ImpendingMoon</title>
</head>
<body>
<div id="page">

    <%- include("partials/_header.ejs", {currentPage: "home"}) -%>

    <main>
        <div class="box">
            <section>
                <img class="float-left" src="/images/pikachu-under-construction.gif"
                     alt="Pikachu operating a jackhammer under a construction sign">
                <h1>Under Construction</h1>
                <p>We'll be fully operational soon! ish.</p>
            </section>

            <section>
                <h2>In the meantime, you can...</h2>
                <ul>
                    <li><a href="/computers">Read about my computers!</a> (wow)</li>
                    <li><a href="/projects">Look at what projects I'm doing!</a> (not a lot)</li>
                    <li>
                        <a href="https://vanillo.tv/u/ImpendingMoon" target="_blank">
                            Watch videos on my Vanillo channel!
                        </a>
                        (yowzers)
                    </li>
                </ul>
            </section>
        </div>
    </main>

    <%- include("partials/_aside.ejs") -%>
    <%- include("partials/_footer.ejs") -%>
</div>

</body>
</html>
