<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <meta name="robots" content="noindex, nofollow">
    <link href="/style.css" rel="stylesheet">
    <title>Home | ImpendingMoon</title>
</head>
<body>
<div id="page">

    <%- include("partials/_header.ejs", {currentPage: "home"}) -%>

    <main>
        <section class="box">
            <img class="float-left" src="/images/pikachu-under-construction.gif"
                 alt="Pikachu operating a jackhammer under a construction sign">
            <h1>Under Construction</h1>
            <p>We'll be fully operational soon! ish.</p>
        </section>
    </main>

    <%- include("partials/_aside.ejs") -%>
    <%- include("partials/_footer.ejs") -%>
</div>

</body>
</html>
