:root {
    --border-radius: 0.5em;
    --spacing: 0.5em;
    --black: #221133;
    --white: #fffbf7;
    --background-color: #fff5eb;
    --border-color: #3a47a6;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --brighten-value: 150%;
}

html {
    color: var(--black);
    font-size: 1.25em;
    line-height: 1.4;
    font-family: sans-serif;
    background-color: #1a112c;
}

body {
    padding: 0;
    margin: 0 var(--spacing);
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2, h3, h4, h5, h6 {
    font-size: 1.25em;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-style: italic;
}

p {
    margin: var(--spacing) 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    filter: brightness(var(--brighten-value));
}

ul {
    margin: 0;
}

.box {
    background-color: var(--background-color);
    border: 4px solid var(--border-color);
    border-radius: var(--border-radius);
    margin: 0;
    padding: var(--spacing);
    overflow: auto;
}

.box + .box {
    margin-top: var(--spacing);
}

.logo {
    color: var(--white);
    font-family: "Comic Sans MS", cursive;
}

footer {
    padding: 0 var(--spacing);
}

/* Helper classes */
.float-left {
    float: left;
    margin-right: var(--spacing);
}

#page > header {
    grid-area: header;
}

#page > aside {
    grid-area: aside;
}

#page > main {
    grid-area: main;
}

#page > footer {
    grid-area: footer;
    background-color: var(--black);
    color: var(--white);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

/* Navigation stuff */

.hamburger {
    background: none;
    border: none;
    font-size: 2em;
    color: var(--white);
    cursor: pointer;
}

.navbar ul {
    padding: 0;
    margin: 0;
}

.navbar-item {
    position: relative;
    padding: var(--spacing);
}

.navbar-item a {
    font-size: 1.5em;
}

/* Basic reactive layout using CSS grid */

@media (max-width: 1000px) {
    #page {
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
        grid-gap: var(--spacing);
        min-height: 100vh;
        margin: auto;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 0;
        right: 0.5em;
    }

    #nav-box {
        display: none;
    }

    #nav-box.open {
        display: block;
    }

    .navbar-item {
        display: block;
    }

    .navbar-item + * {
        border-top: 1px solid var(--border-color);
    }

    .navbar-item > ul {
        font-size: 0.9em;
    }
}

@media (min-width: 1001px) {
    #page {
        display: grid;
        grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
        grid-gap: 0.5em;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        max-width: 2048px;
        margin: auto;
    }

    .hamburger {
        display: none;
    }

    .navbar-item {
        display: inline;
    }

    /* Submenus */
    .navbar-item > ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--background-color);
        border: 4px solid var(--border-color);
        border-radius: var(--border-radius);
        margin: 0;
        padding: 0 var(--spacing);
        box-shadow: 1px 1px 1px var(--shadow-color);
    }

    .navbar-item .navbar-item {
        display: inline-block;
    }

    .navbar-item:hover > ul,
    .navbar-item:focus > ul,
    .navbar-item:focus-within > ul {
        display: block;
    }

    .navbar ul {
        list-style-type: none;
    }
}