:root {
    --border-radius: 0.5rem;
    --spacing: 0.75rem;
    --black: #221133;
    --white: #fffbf7;
    --background-color: #fff5eb;
    --border-color: #3a47a6;
    --link-color: #553377;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --brighten-value: 200%;
    --darken-value: 75%;
    --border-image: url("/images/border.png") 30 / 16px / 8px repeat;
}

html {
    color: var(--black);
    font-size: 1.25em;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
    background-color: #1a112c;
    background-image: url("/images/background-top.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 5%;
}

body {
    padding: 0;
    margin: 0 var(--spacing);
}

h1, h2, h3 {
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-style: italic;
}

p {
    margin: 0 0 var(--spacing);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    filter: brightness(var(--brighten-value));
}

ul, ol {
    margin: 0;
}

button {
    cursor: pointer;
    font-family: sans-serif;
    font-size: 0.75em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

section {
    display: flow-root;
}

section + section {
    margin-top: var(--spacing);
}

figure {
    display: inline-block;
    padding: var(--spacing);
    margin: var(--spacing);
    background: var(--black);
    color: var(--white);
    border-image: var(--border-image);
    max-width: max-content;
}

figcaption {
    display: block;
    text-align: center;
    word-wrap: break-word;
    max-width: 384px;
    width: 100%;
    text-align: center;
}

.box {
    background-color: var(--background-color);
    border-image: var(--border-image);
    margin: 0;
    padding: var(--spacing);
    overflow: auto;
}


.box + .box {
    margin-top: var(--spacing);
}

.logo {
    color: var(--white);
    font-family: "Comic Sans MS", cursive;
}

/* Helper classes */

.img-small {
  width: 256px;
}

.img-medium {
  width: 384px;
}

.img-large {
  width: 512px;
}

.border {
    border-image: var(--border-image);
    overflow: visible;
}

#page > header {
    grid-area: header;
}

#page > aside {
    grid-area: aside;
}

#page > main {
    grid-area: main;
}

#page > footer {
    grid-area: footer;
    background-color: var(--background-color);
    border-image: var(--border-image);
    padding: 1rem;
    margin-bottom: var(--spacing);
}

#page > footer > * {
    margin: 0;
}

/* Navigation stuff */

.hamburger {
    background: none;
    border: none;
    font-size: 2em;
    color: var(--white);
    cursor: pointer;
}

.hamburger:hover, .hamburger:focus {
    filter: brightness(var(--darken-value));
}

.navbar ul {
    padding: 0;
    margin: 0;
}

.navbar-item {
    position: relative;
    padding: var(--spacing);
}

.navbar-item a {
    font-size: 1.5em;
}

/* Basic reactive layout using CSS grid */

@media (max-width: 1000px) {
    #page {
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
        grid-gap: var(--spacing);
        min-height: 100vh;
        margin: auto;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
    }

    #nav-box {
        display: none;
    }

    #nav-box.open {
        display: block;
    }

    .navbar-item {
        display: block;
    }

    .navbar-item + * {
        border-top: 1px solid var(--border-color);
    }

    .navbar-item > ul {
        font-size: 0.9em;
    }

    .float-left, .float-right {
        margin: var(--spacing) auto;
    }
}

@media (min-width: 1001px) {
    #page {
        display: grid;
        grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
        grid-gap: var(--spacing);
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        max-width: 2048px;
        margin: auto;
    }

    .hamburger {
        display: none;
    }

    .navbar-item {
        display: inline;
    }

    /* Submenus */
    .navbar-item > ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--background-color);
        border-image: var(--border-image);
        margin: 0;
        padding: 0 var(--spacing);
        box-shadow: 1px 1px 1px var(--shadow-color);
    }

    .navbar-item .navbar-item {
        display: inline-block;
    }

    .navbar-item:hover > ul,
    .navbar-item:focus > ul,
    .navbar-item:focus-within > ul {
        display: block;
    }

    .navbar ul {
        list-style-type: none;
    }

    .float-left {
        float: left;
        margin-right: var(--spacing);
    }

    .float-right {
        float: right;
        margin-left: var(--spacing);
    }
}

/* Pet styles */
.pet-name {
    text-align: center;
    margin-bottom: var(--spacing)
}

.pet-image {
    display: block;
    width: 90%;
    max-width: 512px;
    border: 4px solid transparent;
    border-image: var(--border-image);
    margin: auto auto var(--spacing);
}

.pet-status-container {
    display: grid;
    gap: 0 var(--spacing);
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    margin-bottom: var(--spacing)
}

.pet-meter {
    width: 100%;
}

.pet-controls-container {
    display: flex;
    justify-content: space-around;
    gap: var(--spacing);
    margin-bottom: var(--spacing)
}

.pet-button {
    width: 100%;
    text-align: center;
}