html {
    color: #221133;
    font-size: 1.25em;
    line-height: 1.4;
    font-family: sans-serif;
    background-color: darkblue;
}

header, main, aside, footer {
    padding: 0 0.5em;
}

h1 {
    font-size: 2em;
    margin: 0.25em 0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    filter: brightness(200%);
}

.navbar > ul {
    list-style-type: none;
    padding-left: 0;
}

.navbar-item {
    display: inline;
}

/* Basic reactive layout using CSS grid */

@media (max-width: 1000px) {
    #page {
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "aside"
        "footer";
        grid-gap: 0.5em;

        margin: auto;
    }
}

@media (min-width: 1001px) {
    #page {
        display: grid;
        grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
        grid-gap: 0.5em;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 10vh 90vh auto;

        max-width: 2048px;
        margin: auto;
    }
}

#page > header {
    grid-area: header;
    background-color: ivory;
}

#page > aside {
    grid-area: aside;
    background-color: ivory;
}

#page > main {
    grid-area: main;
    background-color: ivory;
}

#page > footer {
    grid-area: footer;
    background-color: #222244;
    color: #EEEEEE;
}

.fill-screen {
    min-height: 100vh;
}